@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --b: linear-gradient(
      to right,
      rgba(255, 0, 136, 0.301),
      rgba(50, 50, 50, 0.3)
    ),
    url(background.jpg) no-repeat fixed center;
    --font: 'Noto Sans', sans-serif;
  --c: rgb(255, 255, 255);
  --button: rgba(27, 27, 27, 0.2);
}
body {
    position: relative;
  background: var(--b);
  filter: brightness(140%);
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
 animation: awan  30s 0.5s ease-in-out forwards alternate-reverse infinite;

}
@keyframes awan {
    100% {
        background-position: 0.01em;
    }
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
  font: normal 1em var(--font);
  color: var(--c);
  text-transform: capitalize;
}
header button {
    font: bold 0.7em var(--font);
    color: var(--c);
    text-transform: uppercase;
    letter-spacing: 0.09em;
    width: fit-content;
    height: fit-content;
    padding: 5px 25px;
    border-radius: 5px;
    border: none;
    background: var(--button);
    margin: 10px 5px;
    transition: all 0.3s;
}
header button:active {
    background: rgb(48, 48, 48);
    transform: scale(0.9);
}
header .loading {
    display: none;
    background: #fff;
    width: 0;
    height: 2px;
    transition: all 0.3s;
    animation: load 8s linear forwards;
}
@keyframes load {
    100% {
        width: 100%;
    }
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
main .txt {
    font: normal 0.9em var(--font);
    color: var(--c);
}
